:root {
  --clr-accent: #18447E;
  --clr-primary-1: #ACC2D4;
  --clr-primary-2: #C6CED0;
  --clr-neutral-1: #000000;
  --clr-neutral-2: #FFFFFF;

  --ff-base: "IBM Plex Mono", monospace;

  --fw-regular: 400;
  --fw-semibold: 600;
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

body{
  font-family: var(--ff-base);
  font-weight: var(--fw-regular);
  line-height:1.5;
  margin: 0;
  padding: 0;
  height: 100vh;
}

hr {
  color: var(--clr-accent);
}

/* ==========================
            NAVIGATION 
   ========================== */
nav {
  background: var(--clr-accent);
  width: 100%;
  box-sizing: border-box;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

.nav-title {
  float: left;
  text-decoration: none;
  color: var(--clr-neutral-2);
  font-size: 1.6em;
}

.dropdown-wrapper {
  position: relative;
}

.dropdown-trigger {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  height: 100%;
}

.dropdown-icon {
  fill: var(--clr-neutral-2);
  width: 1.6em;
}

.dropdown-menu {
  display: none;
  list-style: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: var(--clr-accent);
  padding: 0;
  margin: 0;
  z-index: 900;

}

.dropdown-menu.show {
  display: block;
}

.dropdown-item {
  display: block;
  width: 100%;
  left: 0;
}

.dropdown-item a {
  display: block;
  padding: 14px 14px;
  text-decoration: none;
  color: var(--clr-neutral-2);
  font-size: 1.2em;
  white-space: nowrap;
}

.dropdown-item:hover {
  background-color: var(--clr-neutral-2);
}

.dropdown-item:hover a {
  color: var(--clr-accent);
}

/* ==========================
            HERO 
   ========================== */
.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #C6CED0;
  padding-bottom: 15%;
  padding-top: 15%;
}

.hero-container img {
  width: 60%;
  border-radius: 5%;
  max-width: 33ch;
  
}

.hero-container p {
  width: 90%;
  text-align: center;
  max-width: 50ch;
  padding-bottom: 10%;
  margin: 0;
  font-size: 1.03rem;
}

@media (min-width: 768px) {
  .hero-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    background-color: #C6CED0;
    padding: 10% 5% 10% 5%;
    gap: 5%;
  }

  .hero-container img {
    width: 60%;
    border-radius: 5%;
    max-width: 33ch;
    
  }

  .hero-container p {
    width: 90%;
    text-align: left;
    max-width: 50ch;
    padding-bottom: 3rem;
    margin: 0;
    font-size: 1.03rem;
  }
}

/* ==========================
            EXPERIENCE 
   ========================== */

.experience-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ACC2D4;
  padding-bottom: 15%;
  padding-top: 15%;
}

.experience-title h1 {
  align-items: center;
  text-align: center;
  font-weight: normal;
  margin: 0;
  padding: 0 2rem 4rem 2rem;
}


.timeline {
  margin: 0 auto;
  max-width: 125ch;
  display: grid;
  grid-template-columns: 1fr 3px 3fr;
}

.timeline-component {
  display: flex;
  align-items: center;
  justify-content: right;
}

.timeline-date {
  text-align: center;
  font-size: 1.15rem;
  padding: 1rem;
}

.timeline-middle {
  position: relative;
  background: #000000;
  width: 3px;
  top: 5;
  margin: 0 auto;
}

.timeline-point {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 15px;
  height: 15px;
  background: #000000;
  border-radius: 50%;
}

.timeline-arrow {
  border: solid black;
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 5px;
  transform: rotate(45deg) translateX(-62.9%);
  -webkit-transform: rotate(45deg) translateX(-62.9%);
  position: absolute;
  top: initial;
  left: 50%;
  bottom: -7;
}

.timeline-content {
  margin: 0 20px 20px 20px;
}

.timeline-content h2 {
  font-size: 1.25rem;
  font-weight: normal;
  margin: 0 0 0.7rem 0;
}

.timeline-content h3 {
  font-size: 1.15rem;
  font-weight: normal;
  margin: 0;
}

.timeline-content p{
  line-height: 1.5;
  font-size: 1rem;
  margin: 2rem 0 0 0;
}

@media (min-width: 768px) {
  .experience-container {
    padding-bottom: 7%;
    padding-top: 5%;
  }
}

/* ==========================
            PROJECTS 
   ========================== */

.projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--clr-primary-2);
  padding-bottom: 15%;
  padding-top: 15%;
}

.projects-title h1 {
  align-items: center;
  text-align: center;
  font-weight: normal;
  margin: 0;
  padding: 0 2rem 4rem 2rem;
}
.projects-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10% 0 10%;
  gap: 3rem;
}

.single-project-container {
  background-color: var(--clr-primary-1);
  width: 100%;
  max-width: 50ch;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.single-project-container img{
  margin: 5% 10% 5% 10%;
  width: 90%;
  border-radius: 1%;
}

.single-project-container h2{
  text-align: left;
  width: 90%;
  font-weight: normal;
  font-size: 1.175rem;
}

.single-project-container p{
  text-align: left;
  width: 90%;
  font-weight: normal;
  font-size: 1rem;
}

@media (min-width: 768px) {
  .projects-container {
    padding-bottom: 5%;
    padding-top: 5%;
  }

  .projects-grid {
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    flex-direction: none;
    justify-content: space-evenly;
    max-width: 150ch;
  }

  .single-project-container {
    margin: 0 ;
    width: 100%;
    height: 100%;
  }
}

/* ==========================
            ABOUT 
   ========================== */
.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--clr-primary-1);
  padding-bottom: 15%;
  padding-top: 15%;
}

.about-container h1 {
  align-items: center;
  text-align: center;
  font-weight: normal;
  margin: 0;
  padding: 0 2rem 4rem 2rem;
}

.about-container p {
  width: 90%;
  text-align: center;
  max-width: 50ch;
  padding-bottom: 3rem;
  margin: 0;
  font-size: 1.03rem;
}

.about-gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5%;
  max-width: 33ch;
  width: 60%;
  gap: 3rem;
  height: auto;
}

.slide-container {
  position: relative;
  width: 100%;
  display: block;
}

.slide-container img {
  width: 100%;
  border-radius: 5%;
  max-width: 33ch; 
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  border-radius: 5%;
  opacity: 0;
  transition: .5s ease;
  background-color: var(--clr-accent);
  display: flex;
  align-items: center;
  pointer-events: none;
  justify-content: center;
}

.overlay-text {
  text-align: center;
  padding: 1rem;
  color: var(--clr-neutral-2);
}

.overlay.active {
  opacity: 0.85;
  pointer-events: auto;
}

@media (hover: hover) and (pointer: fine) {
  .slide-container:hover .overlay {
    opacity: 0.85;
    pointer-events: auto;
  }
}

@media (min-width: 768px) {
  .about-container {
    padding-bottom: 5%;
    padding-top: 5%;
  }
  
  .about-gallery {
    flex-direction: row;  
    max-width: 125ch;
    width: 60%;
    gap: 3rem;
    height: auto;
  }

}


/* ==========================
            FOOTER 
   ========================== */
.footer-container {
  background-color: var(--clr-accent);
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 90;
}

.footer-container p {
  color: var(--clr-neutral-2);
  font-size: 1rem;
}

.contact-buttons {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 20% 0 20%;
  justify-content: center;
}

.contact-svg {
  width: 2rem;
  height: 2rem;
  margin: 0.5rem;
}

.github-svg {
  width: 1.5rem;
  height: 1.5rem;
}



#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 1rem; /* Place the button at the bottom of the page */
  right: 1rem; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  /* border: none; Remove borders */
  border-color: var(--clr-accent);
  border-width: 0.3rem;
  outline: none; /* Remove outline */
  background-color: rgba(0,0,0,0);; /* Set a background color */
  color: var(--clr-accent); /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 1rem; /* Some padding */
  border-radius: 50%; /* Rounded corners */
  font-size: 1rem; /* Increase font size */
}

#myBtn:hover {
  background-color: #8db6eb; /* Add a dark-grey background on hover */
}

.top-svg {
  width: 1.5rem;
  height: 1.5rem;
  margin: 0;
  padding: 0;
} 